@import "~antd/dist/antd.css";

.menu {
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 -40px 50px #000000;
  background-color: white;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 25px;
  padding: 10px 30px;
}
.menu_user {
  float: right;
  width: 200px;
  margin-top: 8px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu_drawer-button {
  float: right;
  height: 32px;
  margin-top: 8px;
  display: none;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

@media (max-width: 767px) {
  .menu_drawer-button {
    display: inline-block;
    margin-right: 15px;
  }

  .menu__logo a {
    font-size: 18px;
  }
  .menu_user {
    display: none;
  }
}
